body {
    background-color: #EFEFEF;
    font-family: 'Times New Roman', Times, serif;
  }
  
  table, th, td {
    border: 2px solid #006699;
  }
  
  b {
    color: #006699;
  }
  
  .container_input {
    border: 2px solid #006699;
    padding: 5px;
    font-size: 16px;
  }
  
  a {
    color: #006699;
  }
  
  button {
    background-color: #006699;
    color: #EFEFEF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #FFC107;
    cursor: pointer;
  }
  
